body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    padding: 15px;
}

.title-box {/*
    background-color: #a4ecf1;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;*/
    background-color: #003a3e;
  padding: 3px;
  border-radius: 14px;
  margin-bottom: 55px;
}

h1, h2 {
    /*color: #333;
    margin-top: 0;
*/
color: #f2e7e7;
  margin-top: 1.2;
  text-align: center;
}

h2 {
    margin-top: 25px;
}

p {
    margin-bottom: 15px;
}

#portuguese-content,
#english-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#language-toggle {
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #062707;
    color: white;
    cursor: pointer;
}

#language-toggle:hover {
    background-color: #517454;
}

#language-toggle:focus {
    outline: none;
}

#portuguese-content {
    border: 3px solid #a0914d;
    padding: 20px;
}

#english-content {
    /*border: 2px solid #4CAF50;
    padding: 20px;*/
    border: 3px solid #452159;
  padding: 20px;
}

@media screen and (max-width: 600px) {
    body {
        padding: 10px;
    }
    #portuguese-content,
    #english-content {
        padding: 10px;
    }
}